body {
    background: rgb(41, 48, 64);
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

header {
    margin-bottom: 30px;
    border-bottom: #cccccc solid 2px;
    background: #ffffff;
}

.jumbotron {
    overflow: hidden;
}

p, 
h3,
li, 
footer, 
label, 
input[type="submit" i]  {
    color: #777777;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand,
h1, 
h2, 
.caption {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: white;
    font-size: 27px;
    font-weight: bold;
}

h2 {
    color: rgb(41, 48, 64);
    text-align: left;
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: #ddd solid 4px;
    margin-bottom: 20px;
}   

nav {
    background-color: rgb(64, 59, 57);
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

#hero-image {
    background: transparent;
    height: calc(100vh - 118px);
}

#hero-image:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/4k-wallpaper-branches-daylight-1757363.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-image h1 {
    text-shadow: 0 0 10px black;
    color: rgb(242, 242, 242);
    text-transform: uppercase;
}

#hero-image p,
#hero-image a
 {
    color: rgb(242, 242, 242);
    text-shadow: 0 0 10px black;
}

#hero-image a
 {
    font-size: 50px;
    position: absolute;
    bottom: 75px;
}

p {
    padding-bottom: 10px;
    line-height: 1.5em;

}

p strong {
    font-weight: bolder;
    color: black;

}

.header {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.crawl-container {
    perspective: 1000px;
}

.crawl {
    position: relative;
    top: 0px;
    transform-origin: 50% 100%;
    transform: rotateY(-25deg);
    margin-top: -10%;
    opacity: 0.5;
  }

pre {
    overflow: hidden;
}

pre code {
    color: white;
    font-size: 150%;
}

.main-content {
    border: #dddddd solid 1px;
    padding: 25px;
    margin: 100 auto;
    margin-bottom: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
}

#skills i,
#skills img,
.express {
    font-size: 50px;
    background-color: rgb(74, 89, 40);
    color: white;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    line-height: 90px;
}

#skills img{
    padding: 20px;
    margin-top: -10px;
}   

#skills i {
    margin-top: -10px;
    
}

#skills .jquery {
    margin-top: -28px;
}

.express {
    display: inline-block;
    font-size: 20px;
    font-family: "helvetica neue", "open sans", sans-serif;
    font-weight: 100;
    margin-top: -10px;
}

#resume i {
    font-size: 100px;
    color: rgb(74, 89, 40); 
}



footer {
    color: white;
    background-color: rgb(64, 59, 57);
    border-top: cromson solid 8px;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    width:100%;
}

footer a {
    color: rgba(255,255,255,.5);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

footer a:hover {
    color: white;
    text-emphasis: none;
}

label {
    display: block;
    margin-bottom: 15px;

}

label input, 
textarea {
    width: 100%;
    border: #777777 solid 1px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px;
    color: #777777;
}

textarea {
    height: 14em;
}

input[type="submit" i] {
    background-color: crimson;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    font-size: 16px;
}

input[type="submit" i]:hover {
    background-color: #2F6B68;
}

.portfolio-item {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.portfolio-item img, .background{
    width: 300px;
    height: 225px;
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.6);
}

.caption {  
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.7) 20px);
    color: #ffffff;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    width: 100%;
    
}

.caption h1 {
    font-size: 24px;
    margin-top: 10px;
}

.caption p {
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 20px;
    margin-bottom: 5px;

}

.caption i {
    background-color: crimson;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    color: white;
}

/* special header with accent lines */
.special-header {
    display: inline-block;
    position: relative;
}

.accent:before, 
.accent:after {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    top: 0.5em;
}

.accent:after { /* left side */
    background-image: linear-gradient(to left, gray, transparent);
    right: 100%;
    margin-right: 10px;
}
.accent:before { /* right side */
    background-image: linear-gradient(to right, gray, transparent);
    left: 100%;
    margin-left: 10px;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oswald/v24/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* media queries */
@media screen and (max-width: 736px) {
    .row > section, .row > article {
        margin-bottom: 2em;
    }

    .crawl {
        margin-top: 0;
    }

    pre code {
        font-size: 100%;
    }

    .hide-if-mobile {
        display: none;
    }

    .show-if-mobile {
        display: block!important;
    }
}